<!DOCTYPE html>
<html>
        <head>
            <title>the 87471th website in existence</title>
            <!-- custom css (Probably not needed, but I digress -->
            <style>
                
            </style>
            <meta content="87471's website" property="og:title">
            <meta content="Template page" property="og:description">
            <link rel="stylesheet" href="https://87471.github.io/main.css">
        </head>
        <body>
            <!-- why is the center tag still here I'm not changing it lmao
            Content of page -->
            <center>
                <div class="container">
                    <div class="sectionTop">
                        <!-- in website title -->
                    <h2>in website title</h2>
                    </div>
                    <div class="sections">
                        <div class="sectionLeft">
                            <div class="nestedSection">
                                <!-- Actual main content -->
                                wow
                            </div>
                        </div>
                        <div class="sectionRight">
                            <div class="nestedSection">
                                COLLECT MY PAGES.....<br>
                            </div>
                            <br>
                            <div class="nestedSection">
                                <small>
                                    <a href="https://87471.github.io/allpages">ALL THE PAGES....</a><br>
                                    <a href="../index.html">Back to main place!</a><br>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </body>
      <!-- EVIL javascript code here. -->
    <script>
    </script>
</html>
