@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@100;300;400;500;700&display=swap');

/* Font size */
small { 
  font-size: 18px; 
}
tiny { 
  font-size: 11px; 
}

/* Extra styles */
.highlight {
  color: #ffdddd;
}

.code {
  background-color: #444444;
  color: #ffffff;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

/* Font family typa styles */
.notNeue {
  font-family: Arial, sans-serif;
}

/* Shitmemes related shit (memes) */
.vidbackground {
  width: 100%;
}

.vidbackground video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background-color: #784478;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 11px;
}

/* Main things */
body {
  font-family: 'Comic Neue', sans-serif;
  background-color: #300030;
  color: #ffffff;
  text-align: center;
}


a {
  color: #ff00ff;
  transition: all .2s ease-in-out;
}

a:visited {
  color: #440044;
}

a:hover {
  font-size: 105%;
  color: #780078;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #500050;
  border-radius: 11px;
}

.sections {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sectionLeft,
.sectionRight {
  background-color: #5f2096;
  border-radius: 11px;
  padding: 10px;
}

.sectionLeft {
  width: 60%;
}

.sectionRight {
  width: 36%;
}

.sectionMini {
  width: 50%;
}

.sectionPlus {
  width: 200%;
}
.nestedSection {
  background-color: #7f44b3;
  border-radius: 11px;
  padding: 5px;
}


.seperator {
  border-style: solid;
  border-color: #00000000 #00000000 #00000000 #92a8d1;
  background-color: #b8cdf5;
  color: #ffffff;
  padding-left: 10px;
}

.sectionTop {
  width: 80%;
  background-color: #5f2096;
  border-radius: 11px;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding: 10px;
}


button {
  border-radius: 25px;
  background-color: #300030;
  color: #ffffff;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}


input {
  border-radius: 25px;
  background-color: #500050;
  color: #ffffff;
  padding: 10px 15px;
  box-shadow: none;
  border: solid;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  border-style: solid;
  border-color: #a567db;
  font-family: Comic Neue;
}
textarea {
      font-family: Comic Neue;
      background-color: #9a5cd1;
      color: #ffffff;
      border-style: solid;
      border-color: #a567db;
} 

button:hover {
  background-color: #700070;
}

/* Mobile only */
@media (any-pointer: coarse) {

  .sections {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .sectionLeft,
  .sectionRight {
    width: 100%;
    margin: auto;
  }

  .vidbackground video {
    aspect-ratio: 9 / 16;
  }
}
